<div class="container-fluid">
    <div class="row footer" style="margin-top: 40px;margin-left: 10px;margin-right: 10px;background-color: white;">
        <div class="col-md-12 text-center">
          <p class="sub-title-2 mt-3" style="color: black;">Band of Trust</p>
        </div>
        <div class="col-4 text-center ">
          <i class="fa-solid fa-shield-halved secure"></i>
          <p>Great Selection</p>
        </div>
        <div class="col-4 text-center">
          
          <i class="fa-solid fa-indian-rupee-sign secure"></i>
          <p>Low Price</p>
        </div>
        <div class="col-4 text-center">
          <i class="fa-solid fa-cart-shopping secure"></i>
          <p>Speed Delivery</p>
        </div>
               
        <div class="col-12 footer-2 mt-4">
           <div class="row" >
            <div class="col-4">
              <div class="row ">
                   <div class="col-6">
                  <p>Shopper Central</p>
                  <div>
                         <a href="">Easy Returns & Replacement</a><br>
                         <a href="">Sign In/Register</a><br>
                         <a href="">Our Policies</a><br>
                         <a href="">CluesBucks</a><br>
                         <a href="">Payment Options</a><br>
                         <a href="">ShopClues Surety</a><br>
                         <a href="">FAQs (Help)</a><br>
                         <a href="">Service Centers</a><br>
                         <a href="">User Agreement</a><br>
                  </div>
                   </div>
                   <div class="col-6">
                    <p>Merchant Central</p>
                    <div>
                      <a href="">Merchant Panel</a><br>
                      <a href="">How To Sell</a><br>
                      <a href="">Commission Structure</a><br>
                      <a href="">Fullfillment Policy</a><br>
                      <a href="">Policies & Rules</a><br>
                      <a href="">User Agreement</a><br>
                      <a href="">Testimonials</a><br>
                      <a href="">Seller Summit</a><br>
                      <a href="">Merchant Blog</a><br>
                      <a href="">Developer Resources</a><br>
                    </div>
                   </div>
              </div>
            </div>
            <div class="col-4">
                  <div class="row ">
                      <div class="col-6">
                        <a id="footer-head"  href="">About Us</a>
                        <div>
                          <a href="">History</a><br>
                          <a href="">Band of Trust</a><br>
                          <a href="">In the News</a><br>
                          <a href="">Awards</a><br>
                          <a href="">Careers</a><br>
                          <a href="">Blog</a><br>
                        </div>
                      </div>
                      <div class="col-6">
                        <p>Contact Us</p>
                        <div>
                          <a href="">Merchant Support</a><br>
                          <a href="">Bulk Orders</a><br>
                          <a href="">Press</a><br>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-4 ">
              <p>Press</p>
              <div>
                 <a href="">In the News</a>
              </div>
            </div>
           </div>
        </div>
        <div class="row footer-last mt-4">
          <div class="col-md-6">
            <p>Keep In Touch</p>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-pinterest-p"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-google-plus-g"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-linkedin-in"></i>

          </div>
          <div class="col-md-6">
              <p>100% trusted and Secured Payment</p>
              
                <img style="width: 100%;margin: 15px;" src="https://images.shopclues.com/images/ui/pgateway_dkt@2x.png" alt="">
              
          </div>
        </div>
      </div>
</div>
