.container-fluid{
    height: 100vh;
    background-color: #24a3b5;
}
button{
    width: 100px;
    height: 40px;
    border: none;
    background-image: -webkit-linear-gradient(0deg,#ff934b 0%,#ff5e62 100%);
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.199);
    
}